form(method="post", action=path+'/links')
    p
        input(type="text", name="link", placeholder="www.youtube.com/1234")
        button(type="submit") +
if room.getLinks()
    each link in room.getLinks()
        p
            a(href=path+'/links/'+link.id+'/downvote') -
            span=link.link + ': ' + link.votes
            a(href=path+'/links/'+link.id+'/upvote') +
            a(href=path+'/links/'+link.id+'/remove') X
else
    p No links found